[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
pyaudio = "*"
playsound = "*"
gtts = "*"
boto3 = "*"
requests = "*"
bs4 = "*"
spotify = "*"
python-decouple = "*"
tuya-api = "*"
dimits = "*"
sounddevice = "*"

[dev-packages]

[requires]
python_version = "3.10"
