[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-decouple = "*"
speechrecognition = "*"
gtts = "*"
sounddevice = "*"
pygame = "*"
bs4 = "*"
gpt4all = {extras = ["cuda"], version = "*"}
boto3 = "*"
tuya-api = "*"
dimits = "*"
spotify = "*" 

[dev-packages]

[requires]
python_version = "3.10"
