[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyaudio = "*"
speechrecognition = "*"
playsound = "*"
gtts = "*"
boto3 = "*"
requests = "*"
bs4 = "*"
spotify2py = "*"
python-decouple = "*"
tuya-iot-py-sdk = "*"

[dev-packages]

[requires]
python_version = "3.8"
